In [12]:
import pandas as pd
import numpy as np
import os

# Define paths
TMDB_PATH = "data/raw/movies_clean.csv"
IMDB_BASICS_PATH = "data/raw/title.basics.tsv"
OUTPUT_PATH = "data/processed/movies_merged.csv"

print("‚úÖ Libraries loaded. Ready to merge.")

‚úÖ Libraries loaded. Ready to merge.

In [14]:
import os
import pandas as pd

# Get the directory where you are currently working
# If you are in cinematch_v2/notebooks/, we need to go UP one level
PROJECT_ROOT = os.path.abspath(os.path.join(os.getcwd(), "..")) 

# Define paths correctly based on your structure
TMDB_PATH = os.path.join(PROJECT_ROOT, "data", "raw", "movies_clean.csv")
IMDB_PATH = os.path.join(PROJECT_ROOT, "data", "raw", "title.basics.tsv")

print(f"Checking for file at: {TMDB_PATH}")

if os.path.exists(TMDB_PATH):
    print("‚úÖ File found! Loading...")
    df_tmdb = pd.read_csv(TMDB_PATH) # Note: If it's a CSV, no need for sep='\t'
else:
    print("‚ùå File NOT found. Check your folder names in Windows Explorer/Finder.")

Checking for file at: C:\Users\aloks\Desktop\data\raw\movies_clean.csv
‚ùå File NOT found. Check your folder names in Windows Explorer/Finder.

In [15]:
import os

# 1. Print current location
print(f"Current Working Directory: {os.getcwd()}")

# 2. List everything in the current directory
print(f"Items in this folder: {os.listdir('.')}")

# 3. Check if 'data' folder even exists here
if os.path.exists('data'):
    print("‚úÖ 'data' folder found.")
    if os.path.exists('data/raw'):
        print("‚úÖ 'data/raw' folder found.")
        print(f"Files in raw: {os.listdir('data/raw')}")
else:
    print("‚ùå 'data' folder not found. We are in the wrong directory.")

Current Working Directory: C:\Users\aloks\Desktop\Cinematch_V2
Items in this folder: ['.git', '.gitignore', '.ipynb_checkpoints', '01_eda.ipynb', 'data', 'requirements.txt', 'src']
‚úÖ 'data' folder found.
‚úÖ 'data/raw' folder found.
Files in raw: ['.ipynb_checkpoints', 'movies_clean.csv', 'title.basics.tsv']

In [17]:
import pandas as pd
import os

# 1. Define the correct path to the file you actually have
tmdb_path = os.path.join("data", "raw", "movies_clean.csv")

# 2. Load the dataset
print(f"üìÇ Loading from: {tmdb_path}")
df_tmdb = pd.read_csv(tmdb_path)

# 3. Inspect the data
print(f"‚úÖ Loaded {len(df_tmdb):,} rows.")
print("\nFirst 3 rows:")
display(df_tmdb.head(3))

print("\nColumns available:")
print(list(df_tmdb.columns))

üìÇ Loading from: data\raw\movies_clean.csv
‚úÖ Loaded 1,367,058 rows.

First 3 rows:

,id,title,vote_average,vote_count,status,release_date,revenue,runtime,adult,backdrop_path,...,original_title,overview,popularity,poster_path,tagline,genres,production_companies,production_countries,spoken_languages,keywords
0,27205,Inception,8.364,34495,Released,2010-07-15,825532764,148,False,/8ZTVqvKDQ8emSGUEMjsS4yHAwrp.jpg,...,Inception,"Cobb, a skilled thief who commits corporate es...",83.952,/oYuLEt3zVCKq57qu2F8dT7NIa6f.jpg,Your mind is the scene of the crime.,"Action, Science Fiction, Adventure","Legendary Pictures, Syncopy, Warner Bros. Pict...","United Kingdom, United States of America","English, French, Japanese, Swahili","rescue, mission, dream, airplane, paris, franc..."
1,157336,Interstellar,8.417,32571,Released,2014-11-05,701729206,169,False,/pbrkL804c8yAv3zBZR4QPEafpAR.jpg,...,Interstellar,The adventures of a group of explorers who mak...,140.241,/gEU2QniE6E77NI6lCU6MxlNBvIx.jpg,Mankind was born on Earth. It was never meant ...,"Adventure, Drama, Science Fiction","Legendary Pictures, Syncopy, Lynda Obst Produc...","United Kingdom, United States of America",English,"rescue, future, spacecraft, race against time,..."
2,155,The Dark Knight,8.512,30619,Released,2008-07-16,1004558444,152,False,/nMKdUUepR0i5zn0y1T4CsSB5chy.jpg,...,The Dark Knight,Batman raises the stakes in his war on crime. ...,130.643,/qJ2tW6WMUDux911r6m7haRef0WH.jpg,Welcome to a world without rules.,"Drama, Action, Crime, Thriller","DC Comics, Legendary Pictures, Syncopy, Isobel...","United Kingdom, United States of America","English, Mandarin","joker, sadism, chaos, secret identity, crime f..."

Columns available:
['id', 'title', 'vote_average', 'vote_count', 'status', 'release_date', 'revenue', 'runtime', 'adult', 'backdrop_path', 'budget', 'homepage', 'imdb_id', 'original_language', 'original_title', 'overview', 'popularity', 'poster_path', 'tagline', 'genres', 'production_companies', 'production_countries', 'spoken_languages', 'keywords']

In [22]:
import pandas as pd
import os

# Define path (adjust if you are in a different folder)
imdb_path = os.path.join("data", "raw", "title.basics.tsv")

print(f"üïµÔ∏è‚Äç‚ôÄÔ∏è Inspecting: {imdb_path}")

try:
    # Load just the first 5 rows to see the structure
    df_preview = pd.read_csv(imdb_path, sep='\t')
    
    display(df_preview)
    print("\nColumns:", list(df_preview.columns))
    
    # Check data types of the important columns
    print("\nData Types:")
    print(df_preview[['tconst', 'isAdult']].dtypes)

except Exception as e:
    print(f"‚ùå Error reading file: {e}")

üïµÔ∏è‚Äç‚ôÄÔ∏è Inspecting: data\raw\title.basics.tsv

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0000001,short,Carmencita,Carmencita,0,1894,\N,1,"Documentary,Short"
1,tt0000002,short,Le clown et ses chiens,Le clown et ses chiens,0,1892,\N,5,"Animation,Short"
2,tt0000003,short,Poor Pierrot,Pauvre Pierrot,0,1892,\N,5,"Animation,Comedy,Romance"
3,tt0000004,short,Un bon bock,Un bon bock,0,1892,\N,12,"Animation,Short"
4,tt0000005,short,Blacksmith Scene,Blacksmith Scene,0,1893,\N,1,Short
...,...,...,...,...,...,...,...,...,...
12256474,tt9916848,tvEpisode,Episode #3.17,Episode #3.17,0,2009,\N,\N,Drama
12256475,tt9916850,tvEpisode,Episode #3.19,Episode #3.19,0,2010,\N,\N,Drama
12256476,tt9916852,tvEpisode,Episode #3.20,Episode #3.20,0,2010,\N,\N,Drama
12256477,tt9916856,short,The Wind,The Wind,0,2015,\N,27,Short
12256478,tt9916880,tvEpisode,Horrid Henry Knows It All,Horrid Henry Knows It All,0,2014,\N,10,"Adventure,Animation,Comedy"

Columns: ['tconst', 'titleType', 'primaryTitle', 'originalTitle', 'isAdult', 'startYear', 'endYear', 'runtimeMinutes', 'genres']

Data Types:
tconst     object
isAdult     int64
dtype: object

In [20]:
df_preview.columns

Index(['tconst', 'titleType', 'primaryTitle', 'originalTitle', 'isAdult',
       'startYear', 'endYear', 'runtimeMinutes', 'genres'],
      dtype='object')

In [24]:
# Assuming 'df_preview' or 'df_imdb' is your dataframe name
# If you haven't loaded the full set yet, use the chunk you have, 
# but ideally, run this on the full loaded dataset if memory permits.

print("üìä ANALYSIS: titleType Distribution")
print("-" * 40)
# This tells us exactly how many movies vs shorts vs episodes exist
type_counts = df_preview['titleType'].value_counts()
print(type_counts)

print("\n\n‚è±Ô∏è ANALYSIS: runtimeMinutes")
print("-" * 40)

# 1. Convert to numeric (turning '\N' and junk into NaN)
# We use a temporary variable so we don't mess up the main dataframe yet
runtimes_numeric = pd.to_numeric(df_preview['runtimeMinutes'], errors='coerce')

# 2. Basic Statistics (Mean, Max, Min)
print(runtimes_numeric.describe().apply(lambda x: format(x, 'f')))

# 3. sanity check for "Shorts" masquerading as Movies
short_count = (runtimes_numeric < 40).sum()
long_count = (runtimes_numeric > 300).sum()

print(f"\nEntries under 40 mins: {short_count:,}")
print(f"Entries over 5 hours:  {long_count:,}")

# 4. Check how many are missing runtime completely
missing_runtime = runtimes_numeric.isna().sum()
print(f"Missing Runtime info:  {missing_runtime:,}")

üìä ANALYSIS: titleType Distribution
----------------------------------------
titleType
tvEpisode       9456818
short           1109659
movie            737679
video            321215
tvSeries         294072
tvMovie          153793
tvMiniSeries      67930
tvSpecial         56852
videoGame         47566
tvShort           10894
tvPilot               1
Name: count, dtype: int64


‚è±Ô∏è ANALYSIS: runtimeMinutes
----------------------------------------
count    4390467.000000
mean          44.943633
std         1764.836289
min            0.000000
25%           21.000000
50%           30.000000
75%           60.000000
max      3692080.000000
Name: runtimeMinutes, dtype: object

Entries under 40 mins: 2,406,434
Entries over 5 hours:  7,013
Missing Runtime info:  7,866,012

In [27]:
import pandas as pd
import os

# Load ONLY the ID columns to be fast
tmdb_path = "data/raw/movies_clean.csv"
df_ids = pd.read_csv(tmdb_path, usecols=['id', 'imdb_id', 'title'])

total = len(df_ids)
missing_id = df_ids['imdb_id'].isna().sum()
empty_string = (df_ids['imdb_id'] == "").sum()

print(f"Total Movies: {total:,}")
print(f"Missing IMDb ID: {missing_id:,}")
print(f"Percentage Missing: {(missing_id/total)*100:.2f}%")

# Let's see a few examples of movies WITHOUT an ID
print("\nExamples of movies without IMDb ID:")
display(df_ids[df_ids['imdb_id'].isna()].head(5))

Total Movies: 1,367,058
Missing IMDb ID: 710,876
Percentage Missing: 52.00%

Examples of movies without IMDb ID:

           id                                          title imdb_id
5345   567604                           Once Upon a Deadpool     NaN
5530   836466                                         Return     NaN
7412  1040330              Black Adam: Saviour or Destroyer?     NaN
7683   916035                          Barely Legal Baby Fat     NaN
8867   665399  BTS World Tour: Love Yourself - Japan Edition     NaN

In [29]:
import pandas as pd
import os

# Define path
tmdb_path = "data/raw/movies_clean.csv"

# 1. Load data with Quality Metrics
# We need vote_count, popularity, and status to judge quality
cols = ['imdb_id', 'vote_count', 'popularity', 'status', 'title']
print(f"‚è≥ Loading data from {tmdb_path}...")
df = pd.read_csv(tmdb_path, usecols=cols)

# 2. Clean numeric columns (just in case)
df['vote_count'] = pd.to_numeric(df['vote_count'], errors='coerce').fillna(0)
df['popularity'] = pd.to_numeric(df['popularity'], errors='coerce').fillna(0)

# 3. Split the Groups
no_id_group = df[df['imdb_id'].isna()]
has_id_group = df[df['imdb_id'].notna()]

print(f"\nüìä DATASET SPLIT")
print(f"   No ID:   {len(no_id_group):,} rows ({(len(no_id_group)/len(df))*100:.1f}%)")
print(f"   With ID: {len(has_id_group):,} rows")

# 4. Compare VITAL SIGNS (The most important check)
print("\n‚öñÔ∏è  QUALITY COMPARISON (Mean / Average)")
print("-" * 40)
print(f"{'Metric':<15} | {'With IMDb ID':<15} | {'NO IMDb ID':<15}")
print("-" * 40)
print(f"{'Avg Votes':<15} | {has_id_group['vote_count'].mean():<15.2f} | {no_id_group['vote_count'].mean():<15.2f}")
print(f"{'Avg Popularity':<15} | {has_id_group['popularity'].mean():<15.2f} | {no_id_group['popularity'].mean():<15.2f}")

# 5. Check "Hidden Gems" in the No-ID pile
# Are there any movies with No ID that actually have votes?
missed_gems = no_id_group[no_id_group['vote_count'] > 50]
print(f"\nüíé HIDDEN GEMS CHECK")
print(f"   Movies with NO ID but >50 Votes: {len(missed_gems):,}")

if len(missed_gems) > 0:
    print("\n   Top 5 'No ID' movies by popularity:")
    display(missed_gems.sort_values('popularity', ascending=False).head(5))

‚è≥ Loading data from data/raw/movies_clean.csv...

üìä DATASET SPLIT
   No ID:   710,876 rows (52.0%)
   With ID: 656,182 rows

‚öñÔ∏è  QUALITY COMPARISON (Mean / Average)
----------------------------------------
Metric          | With IMDb ID    | NO IMDb ID
----------------------------------------
Avg Votes       | 32.54           | 0.15
Avg Popularity  | 1.64            | 0.50

üíé HIDDEN GEMS CHECK
   Movies with NO ID but >50 Votes: 56

   Top 5 'No ID' movies by popularity:

,title,vote_count,status,imdb_id,popularity
11394,Prison High Pressure,210,Released,NaN,297.563
5345,Once Upon a Deadpool,646,Released,NaN,23.001
14715,Pretty Guardian Sailor Moon Eternal The Movie ...,141,Released,NaN,17.462
11671,Catman,202,Released,NaN,14.636
11832,Hulk vs. Thor,198,Released,NaN,14.564

In [32]:
import pandas as pd
import os

# --- CORRECT CONFIGURATION ---
# We are already in 'Cinematch_V2', so we just look inside 'data/raw/'
INPUT_TMDB_FILE = "movies_clean.csv"  # <--- The file you actually have
INPUT_IMDB_FILE = "title.basics.tsv"

# Build the full paths safely
BASE_DIR = os.getcwd()
TMDB_PATH = os.path.join(BASE_DIR, "data", "raw", INPUT_TMDB_FILE)
IMDB_PATH = os.path.join(BASE_DIR, "data", "raw", INPUT_IMDB_FILE)
OUTPUT_PATH = os.path.join(BASE_DIR, "data", "processed", "movies_merged.csv")

print(f"üìç Working Directory: {BASE_DIR}")
print(f"üìÇ Looking for TMDb file at: {TMDB_PATH}")

if os.path.exists(TMDB_PATH):
    print("‚úÖ FILE FOUND! Loading dataset...")
    
    # LOAD AND INSPECT
    df = pd.read_csv(TMDB_PATH)
    print(f"üìä Successfully loaded {len(df):,} rows.")
    print("Columns:", list(df.columns))
else:
    print("‚ùå ERROR: File still not found. Please verify the file name in 'data/raw/' matches the code.")

üìç Working Directory: C:\Users\aloks\Desktop\Cinematch_V2
üìÇ Looking for TMDb file at: C:\Users\aloks\Desktop\Cinematch_V2\data\raw\movies_clean.csv
‚úÖ FILE FOUND! Loading dataset...
üìä Successfully loaded 1,367,058 rows.
Columns: ['id', 'title', 'vote_average', 'vote_count', 'status', 'release_date', 'revenue', 'runtime', 'adult', 'backdrop_path', 'budget', 'homepage', 'imdb_id', 'original_language', 'original_title', 'overview', 'popularity', 'poster_path', 'tagline', 'genres', 'production_companies', 'production_countries', 'spoken_languages', 'keywords']

In [33]:

def merge_data():
    print("üöÄ STARTING CINE-MATCH DATA PIPELINE")
    print("=" * 60)

    # ---------------------------------------------------------
    # STEP 1: LOAD & FILTER TMDB (The Master List)
    # ---------------------------------------------------------
    print(f"1Ô∏è‚É£  Loading TMDb from: {TMDB_PATH}")
    if not os.path.exists(TMDB_PATH):
        print("‚ùå Error: TMDb file not found.")
        return

    # Load full dataset
    df_tmdb = pd.read_csv(TMDB_PATH)
    total_raw = len(df_tmdb)
    print(f"   - Raw TMDb count: {total_raw:,}")

    # --- FILTER A: EXISTENCE CHECK (Validated by your analysis) ---
    print("   - filtering: Removing movies with no IMDb ID...")
    
    # Drop rows where imdb_id is NaN (missing)
    df_tmdb.dropna(subset=['imdb_id'], inplace=True)
    
    # Ensure they are strings and not empty
    df_tmdb['imdb_id'] = df_tmdb['imdb_id'].astype(str).str.strip()
    df_tmdb = df_tmdb[df_tmdb['imdb_id'] != '']
    
    count_after_id = len(df_tmdb)
    print(f"   - Valid IMDb IDs: {count_after_id:,} (Dropped {total_raw - count_after_id:,} junk records)")

    # --- FILTER B: QUALITY CHECK ---
    print("   - filtering: Applying Quality Gates (Votes >= 50 OR New)...")
    
    # Clean numeric columns
    df_tmdb['vote_count'] = pd.to_numeric(df_tmdb['vote_count'], errors='coerce').fillna(0)
    df_tmdb['popularity'] = pd.to_numeric(df_tmdb['popularity'], errors='coerce').fillna(0)
    
    # Keep if: Popular/Voted OR New Release (2024+)
    is_popular = (df_tmdb['vote_count'] >= 50) | (df_tmdb['popularity'] >= 5.0)
    is_recent = (df_tmdb['release_date'] >= '2024-01-01')
    
    df_tmdb_filtered = df_tmdb[is_popular | is_recent].copy()
    
    print(f"   - High-Quality TMDb count: {len(df_tmdb_filtered):,} (Dropped another {count_after_id - len(df_tmdb_filtered):,} low-quality rows)")

    # ---------------------------------------------------------
    # STEP 2: LOAD & FILTER IMDB (The Adult Flag Source)
    # ---------------------------------------------------------
    print(f"\n2Ô∏è‚É£  Loading IMDb from: {IMDB_PATH}")
    
    # We only need 'tconst' (ID), 'isAdult', and 'titleType'
    cols_needed = ['tconst', 'isAdult', 'titleType']
    
    df_imdb = pd.read_csv(
        IMDB_PATH, 
        sep='\t', 
        usecols=cols_needed, 
        dtype={'tconst': str, 'isAdult': float}, 
        na_values='\\N',
        low_memory=False
    )
    
    print(f"   - Raw IMDb count: {len(df_imdb):,}")
    
    # --- FILTER C: TYPE CHECK ---
    # Keep ONLY 'movie' and 'tvMovie' (removes 9M+ episodes)
    valid_types = ['movie', 'tvMovie']
    df_imdb_filtered = df_imdb[df_imdb['titleType'].isin(valid_types)].copy()
    
    print(f"   - Kept only 'movie' & 'tvMovie': {len(df_imdb_filtered):,} rows")

    # ---------------------------------------------------------
    # STEP 3: MERGE
    # ---------------------------------------------------------
    print("\n3Ô∏è‚É£  Merging Datasets...")
    
    # Standardize ID column name in IMDb for the merge
    df_imdb_filtered['tconst'] = df_imdb_filtered['tconst'].astype(str).str.strip()
    
    # LEFT JOIN: Keep our curated TMDb list, attach IMDb info
    merged = pd.merge(
        df_tmdb_filtered,
        df_imdb_filtered[['tconst', 'isAdult']], 
        left_on='imdb_id',
        right_on='tconst',
        how='left'
    )
    
    # ---------------------------------------------------------
    # STEP 4: FINALIZE
    # ---------------------------------------------------------
    print("   - Finalizing 'adult' flag...")
    
    # If isAdult == 1 -> True. Else -> False
    merged['adult'] = (merged['isAdult'] == 1.0)
    
    # Drop temp columns
    merged.drop(columns=['tconst', 'isAdult'], inplace=True, errors='ignore')
    
    # Save
    os.makedirs(os.path.dirname(OUTPUT_PATH), exist_ok=True)
    merged.to_csv(OUTPUT_PATH, index=False)
    
    print("=" * 60)
    print(f"‚úÖ SUCCESS! Clean data saved to: {OUTPUT_PATH}")
    print(f"   Final Count: {len(merged):,} movies")
    print(f"   Adult Content: {merged['adult'].sum()} movies flagged.")
    print("=" * 60)

if __name__ == "__main__":
    merge_data()

üöÄ STARTING CINE-MATCH DATA PIPELINE
============================================================
1Ô∏è‚É£  Loading TMDb from: C:\Users\aloks\Desktop\Cinematch_V2\data\raw\movies_clean.csv
   - Raw TMDb count: 1,367,058
   - filtering: Removing movies with no IMDb ID...
   - Valid IMDb IDs: 656,182 (Dropped 710,876 junk records)
   - filtering: Applying Quality Gates (Votes >= 50 OR New)...
   - High-Quality TMDb count: 51,195 (Dropped another 604,987 low-quality rows)

2Ô∏è‚É£  Loading IMDb from: C:\Users\aloks\Desktop\Cinematch_V2\data\raw\title.basics.tsv
   - Raw IMDb count: 12,256,479
   - Kept only 'movie' & 'tvMovie': 891,472 rows

3Ô∏è‚É£  Merging Datasets...
   - Finalizing 'adult' flag...
============================================================
‚úÖ SUCCESS! Clean data saved to: C:\Users\aloks\Desktop\Cinematch_V2\data\processed\movies_merged.csv
   Final Count: 51,195 movies
   Adult Content: 166 movies flagged.
============================================================

In [37]:
import pandas as pd
import os

# Define path
tmdb_path = "data/raw/movies_clean.csv"

# 1. Load data with Quality Metrics
# We need vote_count, popularity, and status to judge quality
cols = ['imdb_id', 'vote_count', 'popularity', 'status', 'title']
print(f"‚è≥ Loading data from {tmdb_path}...")
df = pd.read_csv(tmdb_path, usecols=cols)

# 2. Clean numeric columns (just in case)
df['vote_count'] = pd.to_numeric(df['vote_count'], errors='coerce').fillna(0)
df['popularity'] = pd.to_numeric(df['popularity'], errors='coerce').fillna(0)

# 3. Split the Groups
no_id_group = df[df['imdb_id'].isna()]
has_id_group = df[df['imdb_id'].notna()]

print(f"\nüìä DATASET SPLIT")
print(f"   No ID:   {len(no_id_group):,} rows ({(len(no_id_group)/len(df))*100:.1f}%)")
print(f"   With ID: {len(has_id_group):,} rows")

# 4. Compare VITAL SIGNS (The most important check)
print("\n‚öñÔ∏è  QUALITY COMPARISON (Mean / Average)")
print("-" * 40)
print(f"{'Metric':<15} | {'With IMDb ID':<15} | {'NO IMDb ID':<15}")
print("-" * 40)
print(f"{'Avg Votes':<15} | {has_id_group['vote_count'].mean():<15.2f} | {no_id_group['vote_count'].mean():<15.2f}")
print(f"{'Avg Popularity':<15} | {has_id_group['popularity'].mean():<15.2f} | {no_id_group['popularity'].mean():<15.2f}")

# 5. Check "Hidden Gems" in the No-ID pile
# Are there any movies with No ID that actually have votes?
missed_gems = no_id_group[no_id_group['vote_count'] > 10]
print(f"\nüíé HIDDEN GEMS CHECK")
print(f"   Movies with NO ID but >10 Votes: {len(missed_gems):,}")

if len(missed_gems) > 0:
    print("\n   Top 5 'No ID' movies by popularity:")
    display(missed_gems.sort_values('popularity', ascending=False).head(5))

‚è≥ Loading data from data/raw/movies_clean.csv...

üìä DATASET SPLIT
   No ID:   710,876 rows (52.0%)
   With ID: 656,182 rows

‚öñÔ∏è  QUALITY COMPARISON (Mean / Average)
----------------------------------------
Metric          | With IMDb ID    | NO IMDb ID
----------------------------------------
Avg Votes       | 32.54           | 0.15
Avg Popularity  | 1.64            | 0.50

üíé HIDDEN GEMS CHECK
   Movies with NO ID but >10 Votes: 515

   Top 5 'No ID' movies by popularity:

,title,vote_count,status,imdb_id,popularity
51491,A Female Boss with Big Tits and Her Cherry Boy...,19,Released,NaN,2020.286
72403,Deep Sea Python,11,Released,NaN,329.810
11394,Prison High Pressure,210,Released,NaN,297.563
63917,24 Year Old Yoon Yul's Sexy Breasts,13,Released,NaN,56.437
31586,Mira,41,Released,NaN,39.959